.photo-grid {
  min-width: calc(100% - 32px);
  margin: 0;
  padding: 0 4px 64px 4px;
  grid-area: photo-grid;
  list-style-type: none;
  margin: 0 auto;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(284px, 1fr)); */
}

@media (min-width : 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 8px 88px 8px;
    min-width: calc(100% - 48px);
  }
}
@media (min-width : 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    padding: 0 32px 92px 32px;
    min-width: calc(100% - 92px);
  }
}

@media (min-width : 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    min-width: calc(100% - 96px);
  }
}
