.intro {
  grid-area: intro;
  padding: 64px 16px 64px 16px;
}

@media (min-width : 768px) {
  .intro {
    margin-bottom: 88px;
  }
}
@media (min-width : 1024px) {
  .intro {
    margin-bottom: 92px;
  }
}