.cover {
  /* background-image: url(../../images/cover.jpg);
  background-size: cover; */
  min-height: 200px;
  grid-area: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: grid;
}
