.cover {
  /* background-image: url(../../images/cover.jpg);
  background-size: cover; */
  min-height: 200px;
  grid-area: cover;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: grid;
  /* grid-template-rows: 33px minmax(min-content, max-content) 33px 1fr 33px; */
}

