.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  padding: 0px 14px;
}

@media (min-width : 768px) {
  .footer {
    flex-direction: row;
    
  }
}