.place__website {
  font-size: 18px;
  line-height: 22px;
  grid-area: place-website;
  margin: 0;
  color: #fff;
  display: none;
}

@media (min-width: 768px) {
  .place__website {
    display: flex;
    margin-left: 8px;
    justify-content: flex-end;
    flex-direction: column;
    align-self: flex-end;
  }
}